*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --color-primary-brand: #9D875C;
  --font-color: #C1AB81;
  --font-family: "Montserrat", sans-serif;
  --second-family: "Italiana", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 220);
  font-family: "Italiana", "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

/* main {
  flex-grow: 1;
} */

.keen-slider__slide {
  flex: 0 0 calc((100% - 45px) / 4); /* 3 відступи по 15px */
  margin-right: 15px;
  margin-bottom: 156px;
}

.keen-slider__slide:last-child {
  margin-right: 0;
}

.keen-slider__slide{
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.round-img {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  object-fit: cover;
  border: 1px solid var(--color-primary-brand);
  padding: 8px;
}

.bgr-img{
  background-color: url(../img/golden-glitter-background.png);
}
